@mixin set-fixed($top, $zIndex, $bottom: auto) {
    position: fixed;
    top: $top;
    bottom: $bottom;
    z-index: $zIndex;
  }
  
  @mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin setSize($width, $height) {
    width: $width;
    height: $height;
  }
  
  @mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  
  // color palette
  $highlight: #2f5d62;
  $primary: #5e8b7e;
  $secondary: #a7c4bc;
  $neutral-05: #eee;
  $neutral-10: #ddd;
  $neutral-20: #ccc;
  $neutral-30: #aaa;
  $neutral-50: #888;
  $neutral-60: #666;
  $neutral-80: #333;
  $bluegray-10: #e3e5e9;
  $bluegray-20: #cacfe0;
  $bluegray-30: #b4b9c6;
  $warning: #ff3f3f;