@use "common";

.wrapper {
  @include common.setSize(100%, 100%);
  @include common.flex(row, center, center);
}

.content {
  width: 90%;
  max-width: 860px;
  padding: 0 20px;
  span {
    font-size: 20px;
  }
}

.btn {
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  flex-shrink: 0;
}

.btn-primary {
  @extend .btn;
  background: common.$primary;
  color: white;
  border: none;
}

.btn-white {
  @extend .btn;
  width: 80px;
  background: white;
  color: common.$neutral-50;
  border: solid 1px common.$neutral-20;
}

.right {
  position: absolute;
  right: 0;
}

.item-wrapper {
  @include common.setSize(100%, 60px);
  @include common.flex(row, flex-start, center);
  position: relative;

  a {
    font-size: 16px;
    color: common.$neutral-50;
    @include common.flex(row, flex-start, center);
    &::after {
      content: ">";
      font-size: 10px;
      padding-left: 5px;
    }
  }
}

.title {
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.title-md {
  width: 190px;
  font-weight: bold;
}

.user-info {
  width: 90%;
}

.password-wrapper {
  margin-top: 40px;
  @include common.flex(row, flex-start, flex-start);
  .title {
    margin-top: 20px;
  }
}

.password {
  width: calc(100% - 150px);
  font-size: 20px;
  button {
    margin-top: 10px;
    &:disabled {
      background: common.$bluegray-30;
      cursor: default;
    }
  }
  form {
    @include common.flex(column, flex-start, flex-end);
    span {
      width: 100%;
      font-size: 13px;
      text-align: center;
      color: common.$warning;
      margin-top: 2px;
    }
  }
}

.leave {
  max-width: 700px;
  @include common.setSize(100%, 100%);
  margin: 0 auto;
  padding: 100px 0;
  strong,
  span {
    line-height: 35px;
    font-size: 18px;
  }
  h4 {
    color: common.$highlight;
    width: 100%;
    font-size: 24px;
    margin-bottom: 100px;
  }

  .inform {
    @include common.flex(row, flex-start, center);
    margin-bottom: 5px;
    gap: 2px;
  }
  .icon {
    @include common.flex(row, flex-start, center);
    color: common.$primary;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}

.message {
  @include common.flex(row, flex-start, center);
  margin: 20px 0;

  label {
    cursor: pointer;
  }
}

.delete-form {
  // 회원탈퇴 폼
  .input {
    @include common.setSize(180px, 35px);
    border: solid 1px common.$neutral-10;
    border-radius: 30px;
    padding: 0 12px;
    margin: 5px 0;
    font-size: 18px;
  }

  button {
    display: block;
    margin: 60px auto 0;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    align-items: flex-start;
    height: calc(100% - 52px);
  }
  .content {
    width: 100%;
    margin-top: 20px;
    span {
      font-size: 15px;
    }
    .title,
    .title-md {
      font-size: 18px;
      width: fit-content;
      flex-shrink: 0;
    }
  }
  .item-wrapper {
    gap: 12px;
    a {
      font-size: 14px;
    }
  }
  .password-wrapper {
    flex-direction: column;
    margin: 15px 0;
  }
  .password {
    width: 100%;
    margin-top: 10px;

    input {
      height: 40px;
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 6px;
    }

    form span {
      margin-top: -4px;
      margin-bottom: 2px;
    }
    button {
      margin-top: 4px;
    }
  }
  .btn {
    font-size: 14px;
  }
  .btn-white {
    width: fit-content;
    font-size: 12px;
    padding: 4px 10px;
  }
  .leave {
    padding: 0;
    height: fit-content;
    h4 {
      margin: 40px 0 50px;
    }
    p,
    strong,
    span {
      font-size: 16px;
      line-height: normal;
    }
    strong {
      line-height: normal;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
}
@media screen and (max-width: 540px) {
  .leave {
    .inform {
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 450px) {
  .delete-form {
    // 회원탈퇴 폼
    .input {
      width: 100%;
    }
  }
  .user-info {
    @include common.ellipsis;
  }
}